h1 { 
    font-size: 250%;
    color: red;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    float: left;
    padding-left: 3%;
    padding-right: 5%;
    margin-top: 0;
    margin-bottom: 0;
}
h2 {
    position: relative;
    font-size: 200%;
    color: blue;
    font-family: Courier New, Courier, monospace;
    left: 27%;
}
p,strong {
    font-size: 110%;
    }
ol {padding-left: 3%;
}
h3{
    font-style: italic;
    text-decoration: underline;
}
html, body {
    height: 100%;
    margin: 0;
  }
  .mainPage {
    min-height: 100%;
  }
  .insideContent {
    padding: 20px;
    padding-bottom: 50px;
  }
  .footer {
    height: 50px;
    margin-top: -50px;
    text-align: center;
    color: white;
    background-color: gray;
    
  }